# Project
COMPOSE_PROJECT_NAME=myproject

# Claude Dev
ANTHROPIC_API_KEY=
GITHUB_TOKEN=
GIT_USER_NAME=
GIT_USER_EMAIL=

# Database
DATABASE_NAME=devdb
DATABASE_USERNAME=devuser
DATABASE_PASSWORD=devpass
DATABASE_PORT=5432

# Django
DJANGO_SETTINGS_MODULE=
DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
ENVIRONMENT=dev
GUNICORN_WSGI_MODULE=
ENVIRONMENT=

# Logging
LOKI_URL=http://loki:3100/loki/api/v1/push
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
